@using FA.JustBlog.Models.Post;
@using FA.JustBlog.Models.Category;
@using FA.JustBlog.Models.Tag;
@using FA.JustBlog.Common;
@model EditPostViewModel ;
@{
    ViewData["Title"] = "Edit Post";
    Layout = "_Layout";

}

<div class="row">
    <div class="col-12">
        <div class="bg-white p-4">
            <h1>Edit Post</h1>
            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @ViewData["ErrorMessage"]
                </div>
            }
            <form action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PostId">
                <div class="mb-3">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Content" class="form-label"></label>
                    <input asp-for="Content" class="form-control">
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
              
                <div class="mb-3">
                    <label asp-for="Slug" class="form-label"></label>
                    <input asp-for="Slug" class="form-control">
                    <span asp-validation-for="Slug" class="text-danger"></span>
                </div>

                @if (User.FindFirstValue(ClaimTypes.Role) == ConstantSystem.RoleAdminName )
                {
                    <div class="form-check mb-3">
                        <input asp-for="IsActive" class="form-check-input">
                        <label asp-for="IsActive" class="form-check-label"></label>
                    </div>
                }

                <div class="mb-3">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control"
                            asp-items="@(new SelectList(Model.categoryViewModels, nameof(TagViewModel.Id), nameof(TagViewModel.Name)))">

                        <option value="">-- Select Category --</option>
                    </select>
                   
                    
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>





                <div class="mb-3">
                    <label asp-for="TagIds" class="control-label"></label>
                    <select multiple="multiple" id="TagListBox" asp-for="TagIds" class="form-control "
                            asp-items="@(new SelectList(Model.tagViewModels, nameof(TagViewModel.Id), nameof(TagViewModel.Name)))">

                        <option value="">-- Select Tag list --</option>
                    </select>
                   
                    
                    <span asp-validation-for="TagIds" class="text-danger"></span>
                </div>



              


                <div class="mb-3">
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Hình Cover</div>
                        <div class="card-body text-center">
                            @if (Model.Image != null && Model.Image.Length > 0)
                            {
                                string imageBase64 = Convert.ToBase64String(Model.Image);
                                string imageSrc = $"data:image/jpeg;base64,{imageBase64}";
                                <img id="CoverPic" src="@imageSrc" alt="Image" style="object-fit:contain;width:250px;height:250px " />
                            }
                            else
                            {
                                <img id="CoverPic" style="object-fit:contain;width:250px;height:250px " class="mb-2 " src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg">

                            }

                            <!-- Profile picture image-->
                            <!-- Profile picture help block-->
                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                            <!-- Profile picture upload button-->
                            <div style=" border:1px solid #6d6767 ;  padding: 20px; border-radius: 20px;">
                                <input name="ImageFile" type="file" class="form-control-file"
                                       onchange="document.getElementById('CoverPic').src = window.URL.createObjectURL(this.files[0])" />
                            </div>

                        </div>
                    </div>

                </div>



                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js"
            integrity="sha512-6JR4bbn8rCKvrkdoTJd/VFyXAN4CE9XMtgykPWgKiHjou56YDJxWsi90hAeMTYxNwUnKSQu9JPc3SQUg+aGCHw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        tinymce.init({
            selector: '#Content'
        });
        $('select').select2();

        $('select[multiple]').select2();
    </script>
}